.notBusy {
    display: inline-block;
    color: rgb(0, 255, 29);
}

.moderate {
    display: inline-block;
    color: rgb(255, 114, 0);
}

.busy {
    display: inline-block;
    color: rgb(255, 0, 0);
}