.dinRatings{
    margin: 0px;
    padding: 0px;
}

.reviews {
    font-size: 2vmin;
    text-decoration: none;
    color: white;
}

.reviews:hover{
    text-decoration: underline;
}

/*@MEDIA Responsive Code Block */
@media screen and (max-width:450px){
    .dinRatings{
        width: 100%;
    }
}
