.listFood {
    background-color: #fdc700;
    color: black;
    cursor: pointer;    
    padding: 10px;
    width: 100%;
    border: none;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
}

.listFood:hover {
    background-color: rgb(255, 217, 2);
}