.foodPageTitle {
    font-size: 7vmin;
    text-align: center;
    color: white;
    margin: 0px;
    padding: 0px;
}

.wrapper {
    width: 100%;
}

.leftBox {
    border: 1.5px solid #fdc700;
    border-radius: 8px;
    float: left;
    width: 40%;
    margin: 0 5vw;
    margin-top: 2vh;
    overflow: hidden;
    min-height: 40vh;
    max-height: 40vh;
}

.rightBox{
    border: 1.5px solid #fdc700;
    border-radius: 8px;
    float: left;
    width: 40%;
    margin-top: 2vh;
    overflow: hidden;
    min-height: 40vh;
    max-height: 40vh;
}

.leftBoxPrefs{
    padding: 0;
    margin: 10px 0;
    font-size: 4vmin;
    text-align: center;
}

.leftBoxURL{
    padding: 0;
    margin-top: 4vh;
    font-size: 3vmin;
    text-align: center;
}

.rightBoxServing{
    padding: 0;
    margin: 10px 0;
    font-size: 4vmin;
    text-align: center;
}

.rightBoxRating{
    padding: 0;
    margin-top: 4vh;
    text-align: center;
}

.hallList {
    list-style-type: none;
}

.prefList {
    list-style-type: none;
}

.hallItem{
    padding: 0px auto;
    font-size: 3vmin;
    text-align: center;
}

.prefItem{
    font-size: 3vmin;
    text-align: center;
}

.nutURL{
    text-decoration: none;
    color: white;
}

.nutURL:hover{
    text-decoration: underline;
}

.backButton {
    padding: 8px;
    margin: 10px 5vw;
    width: 5vw;
    background: rgb(0,60,108);
    border: 1.5px solid #fdc700;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    display: block;
}