.name{
    display: inline-block;
    text-align: center;
    font-size: 3vmin;
    width: 33%;
    color: white;
}

.capacity{
    display: inline-block;  
    text-align: center;
    font-size: 3vmin;
    width: 33%;
    color: white;
}

.rating{
    display: inline-block;
    text-align: center;
    font-size: 3vmin;
    width: 33%;
    color: white;
}

.bigButtons {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.boxList {
    padding: 0;
    margin: 0;
}

.boxItem {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;

    background-image: linear-gradient(to left, #003c6c , #fdc700);
    background-color: #fdc700; /* For browsers that do not support gradients */
    
    border: 1.5px rgb(253, 199, 0, 0);
    border-radius: 20px;

    margin-top: 15px;
    cursor: pointer; 
}

.boxGradientHelper {
    background-color: #003c6c;
    border: 1.5px solid #fdc700;
    border-radius: 20px;

    padding-top: 6vh;
    padding-bottom: 6vh;

    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    }

.boxGradientHelper:hover {
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; /* Safari Support*/
    background-color: rgb(0,0,0,0)
}
