.name{
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    font-size: 3vmin;
    width: 33%;
    color: white;
}

.capacity{
    vertical-align: middle;
    display: inline-block;  
    text-align: center;
    font-size: 3vmin;
    width: 33%;
    color: white;
}

.rating{
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    font-size: 3vmin;
    width: 33%;
    color: white;
}

.bigButtons {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.boxList {
    padding: 0;
    margin: 0;
}

.boxItem {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;

    /*background-image: linear-gradient(to left, rgb(0,60,108) , rgb(253,199,0));
    background-color: #fdc700; /* For browsers that do not support gradients */

    background-color: rgb(0,60,108);
    
    border: 1.5px rgba(253, 199, 0, 0);
    border-radius: 20px;

    margin-top: 15px;
    cursor: pointer; 

    transition-timing-function: ease-out;
    transition-duration: 0.2s;
    /* Safari Support*/
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 0.2s;
}

.boxItemHelper {
    /*Use for adding gradient transitions. Set as just background transition for now*/
    background-color: rgba(0,60,108, 0);
    border: 1.5px solid #fdc700;
    border-radius: 20px;

    padding: 5vh 0;

    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    }

.boxItem:hover {
    background-color: rgb(253,199,0,0.8);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    transition-timing-function: ease-out;
    transition-duration: 0.3s;
    /* Safari Support*/
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 0.3s;
}

.buttonRating{
    margin: 0px;
    padding: 5px;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    font-size: 3vmin;
    color: white;
    border: none;
    border-radius: 8px;
    background-color: rgb(0,60,108,0);
}

.buttonRating:hover{
    background-color: rgb(0,60,108);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    transition-timing-function: ease-out;
    transition-duration: 0.3s;
    /* Safari Support*/
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 0.3s;
}
