.food{
    font-size:10px;
}

.wrapper {
    text-align: center;
    overflow: hidden;
}

.wrapper ul{
    display: block;
    margin: 0;
    padding: 0;
    align-self: center;
    justify-content: center;
    align-items: center;
}

.wrapper li {
    float: none;
    background-color: rgba(0,60,108);
    color: black;
    border-right:none;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
    display:block;
    width: 30vw;
}

.wrapper li:last-child {
    border-right: none;
}

.Collapsible{
    overflow: hidden;
    cursor: pointer;
    display: block;
    font-size: 1.5em;
    color: #ffffff;
    margin: 10px 0px;
    font-weight: bold;
    border: 1.5px solid #fdc700;
    border-radius: 8px;
    background-color: rgba(0,60,108);
    margin-left: calc(50vw - 15vw);
    width: 30vw;
}

.collapsibleButton{
    cursor: pointer;
    display: block;
    font-size: 1.5em;
    color: #ffffff;
    margin: 10px 10px;
    font-weight: bold;
    border: none;
    background-color: rgba(0,60,108);
    width: 30vw;
}

.collapsibleButton:focus{
    outline: none;
}

.Collapsible__trigger.is-open {
    background-color: #fdc700;
    color:black;
    transition: width 2s;
    width: 30vw;
}

.Collapsible.isOpen {
    background-color: #fdc700;
    
}