.food{
    font-size:10px;
}

.wrapper {
    text-align: center;
}

.wrapper ul{
    display: block;
    margin: 0;
    padding: 0;
    align-self: center;
    justify-content: center;
    align-items: center;
}

.wrapper li {
    float: none;
    background-color: #fdc700;
    color: black;
    padding: 10px;
    border-right:none;
    text-align: left;
    font-size: 15px;
    text-decoration: none;
    display:block;
}

.wrapper li:last-child {
    border-right: none;
}

.Collapsible {
    cursor: pointer;
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.Collapsible__trigger.is-open {
    background-color: #fdc700;
    color:black;
    transition: width 2s;
    width: 300px;
}

.Collapsible.isOpen {
    background-color: #fdc700;
    
}