
/*The list properties: positioning, type*/
.menuList{
    display: block;
    margin: 0;
    padding: 0;
    align-self: center;
    justify-content: center;
    align-items: center;
}

/*The collapsible button style*/
.Collapsible{
    overflow: hidden;
    cursor: pointer;
    display: block;
    font-size: 1.5em;
    color: #ffffff;
    margin: 10px 0px;
    font-weight: bold;
    border: 1.5px solid #fdc700;
    border-radius: 8px;
    background-color: rgba(0,60,108);
    margin-left: calc(50vw - 15vw);
    width: 30vw;
    transition-timing-function: ease-out;
    transition-duration: 0.3s;
    /* Safari Support*/
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 0.3s;
}

.Collapsible:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    transition-timing-function: ease-out;
    transition-duration: 0.3s;
    /* Safari Support*/
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 0.3s;
}

/*The button for the collapsible styles*/
.collapsibleButton{
    cursor: pointer;
    display: block;
    font-size: 2vw;
    color: #ffffff;
    padding: 10px 8px;
    font-weight: bold;
    border: none;
    background-color: rgba(0,60,108);
    width: 30vw;
    transition-timing-function: ease-out;
    transition-duration: 0.3s;
    /* Safari Support*/
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 0.3s;
}

.collapsibleButton:focus{
    outline: none;
}

.collapsibleButton:hover{
    background-color: #fdc700;
    transition-timing-function: ease-out;
    transition-duration: 0.3s;
    /* Safari Support*/
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 0.3s;
}