.quickNavList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.quickNav {
    float: left;
    border-right:1px solid rgb(187, 187, 187);
}

.quickNav:last-child {
    border-right: none;
}

.listButton {
    background-color: #003c6c;
    color: white;
    cursor: pointer;    
    padding: 10px;
    width: 100%;
    border: none;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
}

.listButton:hover {
    background-color: #00266C;
}

.active {
    background-color: #fdc700;
    color: black;
}

.NavLink {
    color:white;
}