.quickNavList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/*These are the actual text boxes*/
.quickNav a {
    float: left;
    padding: 10px 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #ffffff;
    border:1px solid rgb(187, 187, 187);
    border-top: none;
    border-bottom: none;
    text-align: center;
}

.quickNav a:hover {
    background-color: #fdc700;
}

.quickNav:last-child {
    border-right: none;
}


.active {
    background-color: #fdc700;
    text-decoration: none;
    color: #ffffff;
}

.NavLink {
    color:white;
}